/* Checkbox.CSS
* v1.1.1
* Copyright © 2016 - 720kb
* Github: http://github.com/720kb/checkbox.css */

@mixin animation($animation, $speed, $method) {
  -webkit-animation: $animation $speed $method;
  -moz-animation: $animation $speed $method;
  -ms-animation: $animation $speed $method;
  animation: $animation $speed $method;
}
@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -o-transform: $transformation;
  -ms-transform: $transformation;
  transform: $transformation;
}

@mixin transition($where, $speed, $method ) {
  -webkit-transition: $where $speed $method;
  -moz-transition: $where $speed $method;
  -o-transition: $where $speed $method;
  -ms-transition: $where $speed $method;
  transition: $where $speed $method;
}
@mixin filter($filters) {
  -webkit-filter: $filters;
  filter: $filters;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(hey) {
  50% {
    @include transform(scale(1.5));
    @include filter(blur(20px));
  }
  90% {
    @include filter(blur(40px));
  }
  100% {
    transform: none;
    filter:none;
  }
}

@include keyframes(omg) {
  59% {
    @include transform(translateY(-4px))
  }
  60% {

    @include transform(translateX(-8px) translateY(12px))
  }

  70% {

    @include transform(translateY(-8px))
  }
  80% {

    @include transform(translateX(8px))
  }
  90% {

      @include transform(scale(.4))
  }
  100% {
    transform: none;
  }
}
@include keyframes(tv) {
  50% {
    @include transform(scale(.6) rotateY(100deg) skew(45deg));
  }
  70% {
    @include transform(scale(.8) rotateY(200deg) skew(70deg));
  }
  90% {
    @include transform(scale(1) rotateY(500deg) skew(20deg));
  }
  100% {
    transform:none;
  }
}
@include keyframes(jump) {
  50% {
    @include transform(scale(.6) translateY(-10px));
  }
  70% {
    @include transform(scale(.8) translateY(-5px));
  }
  90% {
    @include transform(scale(1) translateY(0));
  }
  100% {
    transform:none;
  }
}
@include keyframes(inout) {
  30% {
    @include transform(scale(1.3));
  }
  70% {
    @include transform(scale(.3));
  }
  90% {
    @include transform(scale(1));
  }
  100% {
    transform:none;
  }
}

.checkbox-rotate {
  &:checked {
    @include transform(rotate(360deg));
    @include transition(all, .2s, linear);
  }
}
.checkbox-yo {
  &:checked {

    @include transform(rotate(-45deg));
    @include transition(all, .15s, linear);
  }
}
.checkbox-roll {
  &:checked {
    @include transform(rotateX(360deg));
    @include transition(all, .15s, linear);
  }
}
.checkbox-away {
  &:checked {
    @include transform(translateX(-10px));
    @include transition(all, .15s, linear);
  }
}
.checkbox-up {
  &:checked {
    @include transform(translateY(-10px));
    @include transition(all, .15s, linear);
  }
}
.checkbox-down {
  &:checked {
    @include transform(translateY(10px));
    @include transition(all, .15s, linear);
  }
}
.checkbox-inout {
  &:checked {
    @include animation(inout, .5s, linear)
  }
}
.checkbox-splash {
  &:active{
    @include transform(scale(2));
    @include transition(all, .15s, linear);
  }
}
.checkbox-hey {
  &:checked {
    @include animation(hey, .8s, linear);
  }
}

.checkbox-omg {
  &:checked {
    @include animation(omg, .5s, linear);
  }
}
.checkbox-jump {
  &:checked {
    @include animation(jump, .35s, linear)
  }
}
.checkbox-tv {
  &:checked {
    @include animation(tv, .3s, linear);
  }
}
